{{ loqate_api_key = config:statamic:advanced-forms:loqate_api_key ?? null }}

{{# {{ if loqate_api_key == null }}
<div>
    <p>Please enter a valid Loqate API key.</p>
</div>  
{{ else }}       #}}
<div id="{{ handle }}">
    
    <div class="fieldWrap">
        <input type="text" name="search" class="searchInput" id="searchBox" placeholder="Enter Address" onkeypress="return enterSearch(event)">
        <button type="button" onClick="findAddress()">Search</button>
    </div>

    <div class="fieldWrap">
        <div class="error" id="errorMessage"></div>
    </div>

    <div class="fieldWrap">
        <div id="result"></div>
    </div>  

    <div id="addressInputs">
        <hr/>
        {{# Address Inputs #}}
        <div>
            <label for="safb__addressLineOne">Address Line One</label>
            <input 
                type="text" 
                name="{{ handle }}[address_line_one]" 
                id="safb__addressLineOne"
                autocomplete="{{ autocomplete ? 'address-line1' : 'false' }}"
            />

            <label for="safb__addressLineTwo">Address Line Two</label>
            <input 
                type="text" 
                name="{{ handle }}[address_line_two]" 
                id="safb__addressLineTwo" 
                autocomplete="{{ autocomplete ? 'address-line2' : 'false' }}"
            />

            <label for="safb__addressLineThree">Address Line Three</label>
            <input 
                type="text" 
                name="{{ handle }}[address_line_three]" 
                id="safb__addressLineThree" 
                autocomplete="{{ autocomplete ? 'address-line3' : 'false' }}"
            />
        </div>

        {{# Town Input #}}
        <div>
            <label for="safb__postTown">Town</label>
            <input 
                type="text" 
                name="{{ handle }}[posttown]" 
                id="safb__postTown" 
                autocomplete="{{ autocomplete ? 'address-level1' : 'false' }}"
            />
        </div>

        {{# Postcode Input #}}
        <div>
            <label for="safb__postCode">Postcode</label>
            <input 
                type="text" 
                name="{{ handle }}[postcode]" 
                id="safb__postCode" 
                autocomplete="{{ autocomplete ? 'postal-code' : 'false' }}"
            />
        </div>
    </div>

</div>

<script>
    let addressInputs = document.getElementById("addressInputs");

    addressInputs.style.display = 'none';

    showClear = () => {
        document.getElementById("clearButton").style.display = "block";
    }
      
    showError = (message) => {
        var error = document.getElementById("errorMessage");
        error.innerText = message;
        error.style.display = "block";
        
        setTimeout(function(){
            error.style.display = "none";
        }, 10000)
    }
      
    enterSearch = (e) => {
        if (e.keyCode == 13){
            this.findAddress();  
        }
    }
      
    findAddress = (SecondFind) => {
        var Text = document.getElementById("searchBox").value;
        
        if (Text === "") {
            showError("Please enter an address");
            return;
        }
        
        var Container = "";     
            
        if (SecondFind !== undefined){
            Container = SecondFind;
        } 
        
        var Key = 'XK94-CD19-GE44-YN82',
            IsMiddleware = false,
            Origin = "",
            Countries = "GBR",
            Limit = "10",
            Language = "en-gb",  
            url = 'https://services.postcodeanywhere.co.uk/Capture/Interactive/Find/v1.10/json3.ws';
        var params = '';
            params += "&Key=" + encodeURIComponent(Key);
            params += "&Text=" + encodeURIComponent(Text);
            params += "&IsMiddleware=" + encodeURIComponent(IsMiddleware);
            params += "&Container=" + encodeURIComponent(Container);
            params += "&Origin=" + encodeURIComponent(Origin);
            params += "&Countries=" + encodeURIComponent(Countries);
            params += "&Limit=" + encodeURIComponent(Limit);
            params += "&Language=" + encodeURIComponent(Language);

        var http = new XMLHttpRequest();
        http.open('POST', url, true);
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        http.onreadystatechange = function() {
            if (http.readyState == 4 && http.status == 200) {
                var response = JSON.parse(http.responseText);
                if (response.Items.length == 1 && typeof(response.Items[0].Error) != "undefined") {
                    showError(response.Items[0].Description);
                }
                else {
                    if (response.Items.length == 0)
                        showError("Sorry, there were no results");
            
                    else {
                        var resultBox = document.getElementById("result");
                    
                        if (resultBox.childNodes.length > 0) {
                            var selectBox = document.getElementById("mySelect");
                            selectBox.parentNode.removeChild(selectBox)
                        }
                        
                        var resultArea = document.getElementById("result");
                        var list = document.createElement("select");
                        list.id = "selectList";
                        list.setAttribute("id", "mySelect");
                        resultArea.appendChild(list);
                    
                        var defaultOption = document.createElement("option");
                        defaultOption.text = "Select Address";
                        defaultOption.setAttribute("value", "");
                        defaultOption.setAttribute("selected", "selected");
                        list.appendChild(defaultOption);
        
                        for (var i = 0; i < response.Items.length; i++){    
                            var option = document.createElement("option"); 
                            option.setAttribute("value", response.Items[i].Id)
                            option.text = response.Items[i].Text + " " + response.Items[i].Description;
                            option.setAttribute("class", response.Items[i].Type)
                                                                
                            list.appendChild(option);
                        }
                        selectAddress(Key);                 
                    }
                }
            }
        }
        http.send(params);
    };  
      
    selectAddress = (Key) => {
        var resultList = document.getElementById("result");
        
        if (resultList.childNodes.length > 0) {   
            var elem = document.getElementById("mySelect");
                
            //IE fix
            elem.onchange = function (e) {      
                var target = e.target[e.target.selectedIndex];
                if (target.text === "Select Address") {
                    return;
                }   
      
                if (target.className === "Address"){
                    retrieveAddress(Key, target.value);
                }
                      
                else {
                    findAddress(target.value)
                }             
            };        
        }
    };
      
    retrieveAddress = (Key, Id) => {
        var Field1Format = "";
        var url = 'https://services.postcodeanywhere.co.uk/Capture/Interactive/Retrieve/v1.00/json3.ws';
        var params = '';
            params += "&Key=" + encodeURIComponent(Key);
            params += "&Id=" + encodeURIComponent(Id);
            params += "&Field1Format=" + encodeURIComponent(Field1Format);
         
        var http = new XMLHttpRequest();
        http.open('POST', url, true);
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        http.onreadystatechange = function() {
            if (http.readyState == 4 && http.status == 200) {
                var response = JSON.parse(http.responseText);
        
                if (response.Items.length == 1 && typeof(response.Items[0].Error) != "undefined") {
                    showError(response.Items[0].Description);
                }
                else {
                    if (response.Items.length == 0)
                        showError("Sorry, there were no results");
                    else {       
                        var res = response.Items[0];
                        
                        addressInputs.style.display = 'block';
                        
                        document.getElementById('safb__addressLineOne').value = res.Line1;
                        document.getElementById('safb__addressLineTwo').value = res.Line2;
                        document.getElementById('safb__addressLineThree').value = res.Line3;

                        document.getElementById('safb__postTown').value = res.City;
                        document.getElementById('safb__postCode').value = res.PostalCode;
                    }
                }
            }
        }
        http.send(params); 
    }
</script>