{{ dynamic = 'handle' }}
{{ prefill = allow_url_prefill ? (get[@dynamic] ?? null) : null }}
{{ placeholder = label_type === 'placeholder' ? label : null }}
{{ attribute = autocomplete_attribute ?? autocomplete }}

{{ if label_type === 'label' }}
<label for="afb_{{ handle }}">{{ label }}</label>
{{ /if }}

<input
    id="afb_{{ handle }}"
    type="text" 
    class="afb_mask_field" 
    name="{{ handle }}"
    value="{{ prefill | sanitize }}"
    placeholder="{{ placeholder | sanitize }}"
    autocomplete="{{ attribute }}" 
/>

{{ if label_type === 'label_below' }}
<label for="afb_{{ handle }}">{{ label }}</label>
{{ /if }}

<script>
    import IMask from 'imask'
    new IMask(
        document.getElementById('afb_{{ handle }}'),
        {
            mask: '{{ mask_pattern }}',
            lazy: false,
        });
</script>
