{{ dynamic = 'handle' }}
{{ prefill = allow_url_prefill ? (get[@dynamic] ?? null) : null }}
{{ placeholder = label_type === 'placeholder' ? label : null }}
{{ attribute = autocomplete_attribute ?? autocomplete }}
{{ calculations_enabled = (enable_calculations == true) ?? false}}

{{ if label_type === 'label' }}
<label for="afb_{{ handle }}">{{ label }}</label>
{{ /if }}

<input 
    id="afb_{{ handle }}"
    type="number" 
    class="afb_number_field" 
    name="{{ handle }}"
    value="{{ prefill | sanitize }}" 
    placeholder="{{ placeholder | sanitize }}"
    autocomplete="{{ attribute }}" 
    {{ if calculations_enabled }} readonly {{ /if }}
/> 

{{ if label_type === 'label_below' }}
<label for="afb_{{ handle }}">{{ label }}</label>
{{ /if }}


{{ if calculations_enabled }}
<script>
    let calculationFormula = {{ calculations | explode(" ") | to_json }}
    let inputs = []
    let newFormula = calculationFormula
    let targetInput = document.getElementById('afb_{{ handle }}')

    // get inputs to watch
    calculationFormula.forEach(function(item) {
        if (item.startsWith('[') && item.endsWith(']')) {
            let target = item.substring(1, item.length - 1)
            let input = inputs.push(document.getElementById('afb_' + target))
        }
    });

    // when inputs change
    inputs.forEach(function(input) {
        input.addEventListener("change", function(event) {
            return runCalculator();
        })
    })
    
    // parse formula with the value of the input.
    function runCalculator() {
        let mathString = '';
        calculationFormula.forEach(function(item) {
            if (item.startsWith('[') && item.endsWith(']')) {
                let target = item.substring(1, item.length - 1)
                mathString += document.getElementById('afb_' + target).value;
            }
            else {
                mathString += item
            }
        });

        // evaluate math string and update input
        targetInput.value = Function("return " + mathString)()
    }
</script>
{{ /if }}
