{{ dynamic = 'handle' }}
{{ prefill = allow_url_prefill ? (get[@dynamic] ?? null) : null }}
{{ placeholder = label_type === 'placeholder' ? label : null }}
{{ attribute = autocomplete_attribute ?? autocomplete }}
{{ calculations_enabled = (enable_calculations === true) ?? false }}
{{ input_mask_enabled = (enable_input_mask === true) ?? false }}
{{ mask_pattern = enable_custom_mask === true ? custom_mask : mask_settings }}


{{ if label_type === 'label' }}
<label for="afb_{{ handle }}">{{ label }}</label>
{{ /if }}

<input 
    id="afb_{{ handle }}"
    type="{{ input_mask_enabled ? 'text' : 'number'}}" 
    class="afb_number_field" 
    name="{{ handle }}"
    value="{{ prefill | sanitize }}" 
    placeholder="{{ placeholder | sanitize }}"
    autocomplete="{{ attribute }}" 
    {{ if calculations_enabled === true }} readonly {{ /if }}
/> 

{{ if label_type === 'label_below' }}
<label for="afb_{{ handle }}">{{ label }}</label>
{{ /if }}

{{ if calculations_enabled === true }}
<script>
    var calculationFormula = {{ calculations | explode(" ") | to_json }};
    var inputs = [];
    var newFormula = calculationFormula;
    var targetInput = document.getElementById('afb_{{ handle }}');

    // get inputs to watch
    calculationFormula.forEach(function(item) {
        if (item.startsWith('[') && item.endsWith(']')) {
            var target = item.substring(1, item.length - 1)
            var input = inputs.push(document.getElementById('afb_' + target))
        }
    });

    // when inputs change
    inputs.forEach(function(input) {
        input.addEventListener("change", function(event) {
            return runCalculator();
        })
    })
    
    // parse formula with the value of the input.
    function runCalculator() {
        var mathString = '';
        calculationFormula.forEach(function(item) {
            if (item.startsWith('[') && item.endsWith(']')) {
                var target = item.substring(1, item.length - 1)
                mathString += document.getElementById('afb_' + target).value;
            }
            else {
                mathString += item
            }
        });

        // evaluate math string and update input
        targetInput.value = Function("return " + mathString)()
    }
</script>
{{ /if }}

{{ if input_mask_enabled }}
<script src="https://unpkg.com/imask"></script>
<script>
    new IMask(
        document.getElementById('afb_{{ handle }}'),
        {
            mask: '{{ mask_pattern }}',
            lazy: false,
        });
</script>
{{ /if }}
