{{ dynamic = 'handle' }}
{{ prefill = allow_url_prefill ? (get[@dynamic] ?? null) : null }}

<textarea class="afb_textarea_field">
    {{ prefill | sanitise }}
</textarea>

{{ dynamic = 'handle' }}
{{ prefill = allow_url_prefill ? (get[@dynamic] ?? null) : null }}
{{ placeholder = label_type === 'placeholder' ? label : null }}

{{ if label_type === 'label' }}
<label for="afb_{{ handle }}">{{ label }}</label>
{{ /if }}

<textarea 
    id="afb_{{ handle }}"
    class="afb_textarea_field"
    placeholder="{{ placeholder | sanitize }}"
>
    {{ prefill | sanitise }}
</textarea>

{{ if label_type === 'label_below' }}
<label for="afb_{{ handle }}">{{ label }}</label>
{{ /if }}
